@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

/*НЕ ИСПОЛЬЗУЕМ $!!! Переменные $ из scss компилируются не в css 
переменные var(), а в значение которое хранят. 
Т.е. в итоговой сборке, не получится их заменять*/

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
}
